@import '_base';

//基本公共样式
.flex {
  display: flex;
}
.flex-row {
  .flex;
  flex-direction: row;
}
.flex-column {
  .flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.xhsc-whole-btn{
  display: block;
  height: 100px;
  line-height: 100px;
  background-color: #f6ab00;
  text-align: center;
  color: #ffffff;
}
ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}



#root {
  width: 750px;
  margin: 0 auto;
}
.hide {
  display: none;
}


// list
.my-list .spe .am-list-extra {
  flex-basis: initial;
}


//ant-design-mobile
.am-list-body {
  border-top: none!important;
}
.am-list-body:after, .am-list-body div:not(:last-child) .am-list-line:after {
  border-bottom: 1px solid #eeeeee !important;
}

