.second-category-wrap {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  .second-category {
    margin: 0 auto;
    height: 100%;
    width: 440px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .am-list-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

